body{
  background: #dedede;
  font-family: 'Lato', sans-serif;
}
*{
  transition: 0.3s;
}
.content{
  width: 970px;
  margin: 0 auto;
}
.head-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.download{
  width: 150px;
}
.download button{
  transition: 0.1s;
  padding: 5px 10px;
  background:  linear-gradient(#66a653,#2b4324);
  color: #dedede;
  font-weight: bold;
  font-size: 14px;
  outline: transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
}
.contribute{
  display: block;
  margin: 10px auto;
  background: linear-gradient(#8b9189,#383a37) !important;
}
.download button:active{
  box-shadow: none;
}
.title h1{
  margin-left: 25px;
  text-align: center;
  font-size: 85px;
  font-family: 'Patua One', cursive;
}
.head-bottom{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.item{
  display: flex;
  align-items: center;
  width: 400px;
  margin: 20px;
}
.img1{
  background: url('../assets/clip.svg') no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}
.img2{
  background: url('../assets/easy.svg') no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}
.img3{
  background: url('../assets/night.svg') no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}
.data{
  margin-left: 10px;
}
.data .heading{
  font-size: 18px;
  font-weight: bold;
}
.description{
  display: flex;
  justify-content: space-around;
}
.screenshot{
  position: absolute;
  background-size: contain;
  width: 280px;
  height: 350px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
.screenshot1{
  z-index: 100;
  background: url('../assets/main.png') no-repeat;
}
.screenshot2{
  left: 50px;
  top: 20px;
  z-index: 30;
  background: url('../assets/darkTheme.png') no-repeat;
}
.screenshot3{
  left: 100px;
  top: 40px;
  z-index: 20;
  background: url('../assets/setting.png') no-repeat;
}

.screenshot:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.screenshot1:hover, .screenshot2:hover, .screenshot3:hover{
  z-index: 200;
}